fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

* {
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic","メイリオ", "Meiryo", "verdana", sans-serif;
	font-size: 16px;
	line-height: 2;
	min-width: 1140px;
}

a {
	display: inline-block;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

li {
	list-style: none;
}

img {
	vertical-align: bottom;
	width: 100%;
}

.sp-br {
	display: none;
}

.container {
	margin: 0 auto;
	padding: 50px 10px;
	width: 1140px;
}

.sentence {
	margin: 0 auto;
	max-width: 800px;
}

#fascia,
#voice,
#suitable,
#profile-thought,
#select,
#treatment {
	margin-top: -95px;
	padding-top: 95px;
}

.sec-title {
	color: #3D71B8;
	font-size: 36px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
}

.sec-title,
.pc-menu,
.sp-menu {
	font-family: "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝", 'Noto Serif JP', serif;
}

.sec-title:before {
	background: red;
	bottom: 0px;
	content: '';
	height: 3px;
	left: calc(50% - 200px);
	opacity: 0.8;
	position: absolute;
	width: 400px;
}

.red {
	color: red;
	font-weight: bold;
}

.yellow {
	color: yellow;
	font-weight: bold;
}

.marker-blue {
	background: linear-gradient(transparent 60%, blue 0%);
	padding-bottom: 2px;
}

.marker-yellow {
	background: linear-gradient(transparent 60%, yellow 0%);
	padding-bottom: 2px;
}

.size-big {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
}

.title-big {
	font-size: 46px;
	font-weight: bold;
	padding: 10px 0;
}

header {
	background: #fff;
	box-shadow: 0px 1px rgba(195, 195, 195, 0.2);
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	top: 0%;
	z-index: 6;
}

.l-header .header-top {
	align-items: center;
	display: flex;
	height: 65px;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 10px;
	width: 1140px;
}

.l-header .header-top .header-top__left .left__logo img {
	height: 48px;
}

.l-header .header-top .header-top__right {
	display: flex;
}

.l-header .header-top .header-top__right .right__tel {
	line-height: 23px;
	margin-right: 50px;
}

.l-header .header-top .header-top__right .right__tel .right__tel__btn {
	display: flex;
}

.l-header .header-top .header-top__right .right__tel .right__tel__btn .fa-phone-square-alt {
	color: #36A3D5;
	font-size: 50px;
	margin-right: 10px;
}

.l-header .header-top .header-top__right .right__tel .right__tel__btn .right__tel__time {
	color: #333;
	font-size: 12px;
	font-weight: bold;
}

.l-header .header-top .header-top__right .right__tel .right__tel__btn .right__tel__number {
	color: #36A3D5;
	font-size: 25px;
	font-weight: bold;
}

.l-header .header-top .header-top__right .right__mail__btn {
	background: orange;
	border-radius: 4px;
	box-shadow: 2px 2px rgba(195, 195, 195, 0.2);
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
	padding: 7px 15px;
}

.l-header .pc-menu {
	align-items: center;
	height: 30px;
	margin: 0 auto;
	width: 1140px;
}

.l-header .pc-menu .pc-menu__list {
	display: flex;
}

.l-header .pc-menu .pc-menu__list .pc-menu__list__item {
	border-left: solid 1px #c3c3c3;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: calc(100% / 7);
}

.l-header .pc-menu .pc-menu__list .pc-menu__list__item a {
	color: #3D71B8;
}

.l-header .pc-menu .pc-menu__list .pc-menu__list__item:last-child {
	border-right: solid 1px #c3c3c3;
}

.l-header .sp-menu,
.l-header .sp-menu-btn {
	display: none;
}

.lp-top .lp-top__cp {
	margin-top: 95px;
	width: 100%;
}

.lp-top .lp-top__sp {
	display: none;
}

@media screen and (max-width: 599px) {

.l-header .header-top {
	box-shadow: 0px 1px rgba(195, 195, 195, 0.2);
	height: 60px;
	padding: 10px;
	width: 100%;
}

.l-header .header-top .header-top__right {
	display: none;
}

.lp-top .lp-top__cp {
	display: none;
}

.lp-top .lp-top__sp {
	display: block;
	margin-top: 60px;
	width: 100%;
}

}

