html {
	font-size: 62.5% !important;
}

body {
	min-width: 1120px;
}

body * {
	box-sizing: border-box;
}

fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

.l-footer {
	background-color: #333;
	color: #fff;
	padding: 20px 3%;
	text-align: center;
}

.l-footer address {
	font-size: 1.2rem;
	font-style: normal;
}

.l-header a {
	text-decoration: none;
}

.l-header .header-wrapper .containerTop {
	background-color: #efefef;
	padding: 10px 0;
}

.l-header .header-wrapper .containerTop .inner {
	margin: 0 auto;
	width: 1120px;
}

.l-header .header-wrapper .containerTop .inner h1 {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.l-header .header-wrapper .containerMiddle {
	padding: 30px 0;
}

.l-header .header-wrapper .containerMiddle .inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1120px;
}

.l-header .header-wrapper .containerMiddle .inner .box-left {
	align-items: center;
	display: flex;
}

.l-header .header-wrapper .containerMiddle .inner .box-left .logo {
	margin-right: 30px;
	width: 310px;
}

.l-header .header-wrapper .containerMiddle .inner .box-left .logo img {
	image-rendering: -webkit-optimize-contrast;
	width: 100%;
}

.l-header .header-wrapper .containerMiddle .inner .box-left .group-button {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.43;
	list-style: none;
}

.l-header .header-wrapper .containerMiddle .inner .box-left .group-button li {
	margin-bottom: 3px;
	padding-left: 18px;
	position: relative;
}

.l-header .header-wrapper .containerMiddle .inner .box-left .group-button li::before {
	background-color: #e45213;
	border-radius: 50%;
	content: '';
	display: block;
	height: 8px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.l-header .header-wrapper .containerMiddle .inner .box-left .group-button li span {
	background: linear-gradient(transparent 35%, #f6ee0f 75%);
}

.l-header .header-wrapper .containerMiddle .inner .box-left .group-button li:last-child {
	margin-bottom: 0;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .phone {
	margin-right: 20px;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .phone p {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .phone a {
	color: #333;
	display: block;
	font-size: 2.8rem;
	font-weight: bold;
	margin-bottom: 8px;
	padding-left: 30px;
	position: relative;
	text-decoration: none;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .phone a.phoneLink:before {
	background: url(../img/phone-alt-solid.svg) no-repeat;
	background-size: auto 100%;
	content: "";
	height: 22px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 33px;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .phone span {
	font-size: 1rem;
	line-height: 1em;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .mail {
	background-color: #e45213;
	border-radius: 40px;
	overflow: hidden;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .mail a {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 1.6rem;
	font-weight: bold;
	justify-content: center;
	letter-spacing: 1px;
	line-height: 1.5;
	padding: 10px 40px;
	position: relative;
}

.l-header .header-wrapper .containerMiddle .inner .box-right ul .mail a::after {
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	content: '';
	display: block;
	height: 8px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%) rotate(135deg);
	width: 8px;
}

.l-header .header-wrapper #header-nav {
	background-color: #70c438;
}

.l-header .header-wrapper #header-nav nav {
	margin: 0 auto;
	width: 1000px;
}

.l-header .header-wrapper #header-nav nav ul {
	border-right: 1px solid #fff;
	display: flex;
	justify-content: space-between;
}

.l-header .header-wrapper #header-nav nav ul li {
	border-left: 1px solid #fff;
	width: 100%;
}

.l-header .header-wrapper #header-nav nav ul li a {
	color: #fff;
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1120px;
}

.container .suggestion {
	margin-bottom: 100px;
}

.lp-top .lp-top__cp {
	margin-top: 95px;
	width: 100%;
}

.lp-top .lp-top__sp {
	display: none;
}

.main-views {
	height: 500px;
	margin: 0 auto;
	width: 100%;
}

.main-views .swiper-container {
	height: 100%;
	width: 100%;
}

.main-views .swiper-container .swiper-slide {
	height: 100%;
	width: 1120px !important;
}

.main-views .swiper-container .swiper-slide img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.second-box .title {
	background-color: #90C222;
	padding: 90px 0 160px;
}

.second-box .title .inner h3 {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.4em;
	text-align: center;
}

.second-box .content {
	font-size: 16px;
}

.second-box .content .inner {
	margin: 0 auto;
	width: 1120px;
}

.second-box .content .inner .wrapItems {
	display: flex;
	flex-wrap: wrap;
	margin-top: -100px;
}

.second-box .content .inner .wrapItems dl a {
	background-color: #fff;
	box-shadow: 0px 0px 12px #777777;
	color: #333;
	display: block;
	padding: 40px 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	z-index: 1;
}

.second-box .content .inner .wrapItems dl a dt {
	border-bottom: solid 1px #dedede;
	color: #90C222;
	font-size: 24px;
	line-height: 1.4em;
	margin-bottom: 14px;
	padding-bottom: 14px;
}

.second-box .content .inner .wrapItems .item {
	margin: 0 30px 30px 0;
	width: calc((100% - 60px) / 3);
}

.second-box .content .inner .wrapItems .item:nth-child(3n + 3) {
	margin-right: 0;
}

.blogs-box {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.blogs-box .top_blog {
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	padding: 30px;
	width: calc((100% - 30px) / 2);
}

.blogs-box .top_blog .ttl-Box .ttl {
	border-bottom: 3px solid #ccc;
	color: #333;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.6em;
	padding-bottom: 5px;
	position: relative;
}

.blogs-box .top_blog .ttl-Box .ttl::after {
	background-color: #e45213;
	bottom: -2px;
	content: '';
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	width: 160px;
}

.blogs-box .top_blog .scroll_box {
	box-sizing: border-box;
	height: 267px;
	overflow-y: scroll;
	transform: translateZ(0);
}

@media screen and (max-width: 599px) {

.lp-top .lp-top__cp {
	display: none;
}

.lp-top .lp-top__sp {
	display: block;
	margin-top: 60px;
	width: 100%;
}

}

