@import 'mixins';

html {
  font-size: 62.5%!important;
}

body {
  padding-top: 210px!important;
  min-width: 1120px;
  * {
    color: #333;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif!important;
  }
  @include mobile {
    min-width: auto;
    width: 100%;
    padding-top: vw(60)!important;
  }
}

a {
  opacity: 1;
  transition: opacity 0.5s ease;
  @media screen and (min-width: 768px) {
    &:hover {
      opacity: 0.6!important;
    }
  }
}

.is_sp {
  display: none!important;
}
@include mobile {
  .is_pc {
    display: none!important;
  }
  .is_sp {
    display: block!important;
  }
}