.reason {
    .reason-container {
        padding-top: 80px;
        h3 {
            font-size: 3.6rem;
            font-weight: bold;
            letter-spacing: 0.1em;
            line-height: 1.4em;
            position: relative;
            text-align: center;
            @include mobile {
                font-size: 2.4rem;
                margin-bottom: 8vw;
                padding-bottom: 4vw;
            
            }
        }
        .center {
            font-size: 14px;
            text-align: center;
            &.mt-10 {
                margin-top: 10px;
            }
        }
        .orange-btn {
            padding: 10px 20px;
            background-color: orange;
            color: #FFF;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            width: fit-content;
            margin: 30px auto;
        }
        .shigyou {
            width: 70%;
            margin: 50px auto 0;
            ul {
                list-style: none;
                display: flex;
                width: 50%;
                margin: 0 auto 30px;
                justify-content: space-around;
                li {
                    font-size: 14px;
                    padding: 10px;
                    background-image: -webkit-radial-gradient(#ddd, rgba(255,191,0,1));
                    font-weight: bold;
                    background-image: radial-gradient(#ddd, rgba(255,191,0,1));
                    border-radius: 3px;
                    border: 1px solid #333;
                }
                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }
        }
        article {
            .sub-title {
                color: #FFF;
                padding: 10px 0;
                background-color: blue;
                margin-top: 100px;
                text-align: center;
                font-size: 24px;
                line-height: 36px;
                &:nth-child(2) {
                    margin-top: 0;
                }
                .big {
                    color: #FFF;
                    font-size: 32px;
                }
            }
            .green_bg {
                background: #ffffdf;
            }
            .reason_box {
                padding: 100px 50px;
                @include mobile {
                    padding: 50px 0;
                }
                .box_inner {
                    max-width: 1200px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    @include mobile {
                        max-width: none;
                        width: 80%;
                        display: block;
                    }
                    h2.title {
                        font-size: 36px;
                        line-height: 1.4;
                        position: relative;
                        padding-top: 65px;
                        margin-bottom: 50px;
                        @include mobile {
                            font-size: 2.4rem;
                            margin-bottom: 8vw;
                            padding-bottom: 4vw;
                        }
                        &::after {
                            color: #ffd165;
                            display: block;
                            font-size: 100px;
                            font-style: italic;
                            font-weight: bold;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            z-index: 0;
                        }
                        span {
                            position: relative;
                            z-index: 1;
                        }
                    }
                    .left {
                        width: 48%;
                        @include mobile {
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 1.8;
                            .bold {
                                font-weight: bold;
                                font-size: 16px;
                            }
                        }
                        ul {
                            list-style: none;
                            li {
                                font-size: 14px;
                                line-height: 1.8;
                                margin-bottom: 5px;
                                .bold {
                                    font-weight: bold;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .right {
                        width: 48%;
                        opacity: 0;
                        transform: translateX(-50px);
                        transition: 3s ease;
                        visibility: hidden;
                        z-index: 1;
                        @include mobile {
                            width: 100%;
                        }
                        img {
                            width: 100%;
                        }
                        &.is-inview {
                            opacity: 1;
                            transform: translateX(0);
                            visibility: visible;
                        }
                    }
                }
            }
            .reason_1 {
                h2.title::after {
                    content: "01";
                }
            }
            .reason_2{
                h2.title::after {
                    content: "02";
                }
            }
            .reason_3{
                h2.title::after {
                    content: "03";
                }
            }
            .reason_4{
                h2.title::after {
                    content: "04";
                }
            }
            .reason_5{
                h2.title::after {
                    content: "05";
                }
            }
            .reason_6{
                h2.title::after {
                    content: "06";
                }
            }
        }
        .kansai {
            margin-top: 30px;
            .inner {
                width: 75%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .left {
                    width: 45%;
                    padding: 30px;
                    height: fit-content;
                    background-color: #ffee00;
                    h2 {
                        font-size: 24px;
                        line-height: 30px;
                        margin-bottom: 30px;
                        .red {
                            color: #e45213;
                        }
                    }
                    p {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
        a {
            .contact-btn {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                background-color: #fff100;
                border-bottom: 5px solid #ccc100;
                border-radius: 0.5rem;
                color: #000;
                color: #212529;
                cursor: pointer;
                display: block;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.1em;
                line-height: 1.5;
                margin: 60px auto;
                padding: 1rem 4rem;
                position: relative;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s;
                user-select: none;
                vertical-align: middle;
                width: 350px;
                @include mobile {
                    width: 80%;
                }
                h4 {
                    font-size: 1.6rem !important;
                    margin-bottom: 0 !important;
                    padding-bottom: 0 !important;
                    @include mobile {
                        font-size: 1.4rem !important;
                    }
                    &::after {
                        display: none;
                    }
                }
                &:hover {
                    background: #fff20a;
                    border-bottom: 2px solid #ccc100;
                    color: #000;
                    margin-top: 63px;
                }
            }
        }
        .reason-container__top {
            display: flex;
            justify-content: center;
            img {
                display: block;
            }
        }
    }
}