.reason {
    .reason-container {
        padding-top: 80px;
        h3 {
            font-size: 3.6rem;
            font-weight: bold;
            letter-spacing: 0.1em;
            line-height: 1.4em;
            margin-bottom: 50px;
            padding-bottom: 20px;
            position: relative;
            text-align: center;
            &::after {
                background: #e45213;
                bottom: 0;
                content: '';
                display: block;
                height: 4px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 80px;
            }
        }
        article {
            .green_bg {
                background: #ffffdf;
            }
            .reason_box {
                padding: 100px 50px;
                .box_inner {
                    width: 1200px;
                    margin: 0 auto;
                    h2.title {
                        font-size: 36px;
                        line-height: 1.4;
                        position: relative;
                        padding-top: 65px;
                        &::after {
                            color: #ffd165;
                            display: block;
                            font-size: 100px;
                            font-style: italic;
                            font-weight: bold;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            z-index: 0;
                        }
                        span {
                            position: relative;
                            z-index: 1;
                        }
                    }
                    .left {
                        width: 48%;
                        p {
                            font-size: 14px;
                            line-height: 1.8;
                        }
                        ul {
                            li {
                                font-size: 14px;
                                line-height: 1.8;
                            }
                        }
                    }
                }
            }
            .reason_1 {
                h2.title::after {
                    content: "01";
                }
            }
            .reason_2{
                h2.title::after {
                    content: "02";
                }
            }
            .reason_3{
                h2.title::after {
                    content: "03";
                }
            }
            .reason_4{
                h2.title::after {
                    content: "04";
                }
            }
        }
    }
}