.service {
	p {
		font-size: 18px;
		line-height: 1.7;
	}
	.service__top {
		height: 300px;
		position: relative;
		background-image: url(../img/service_bg.jpg);
		background-position-y: center;
		background-size: 100%;
		height: 300px;
		position: relative;
		h2 {
			color: #FFF;
			font-size: 3.8rem;
			font-weight: 900;
			z-index: 999;
			margin: 0;
			position: absolute;
			top: calc(50% - 1.9rem);
		}
	}
	.service__top::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    z-index: 99;
    background: rgba($color: #000000, $alpha: 0.4);
	}
	.container {
		width: 1120px;
		margin: 0 auto;
		@include mobile {
			width: 100%;
		}
		ul.top-menu {
			padding: 80px 0;
			display: flex;
			justify-content: space-between;
			list-style: none;
			@include mobile {
				flex-direction: column;
			}
			&.is-inview {
			li::after {
			transform: scaleX(0);
			a span {
				transform: scaleX(0);
			}
			}
		}
		li {
			width: calc((100% - 80px) / 3);
			position: relative;
			margin-bottom: 30px;
			@include mobile {
				width: 100%;
			}
			a {
				display: block;
				text-decoration: none;
				position: relative;
				cursor: pointer;
				img {
				width: 100%;
				}
				span {
				display: block;
				width: 80%;
				padding: 12px 18px 14px;
				background: #e45213;
				color: #fff;
				font-size: 1.5rem;
				font-weight: 700;
				position: absolute;
				bottom: -10px;
				left: -10px;
				}
			}
		}
		}
		h3.subtitle {
			margin-top: 60px;
			color: #000000;
			text-align: center;
			font-size: 32px;
			margin-bottom: 40px;
			position: relative;
			padding: 1rem 2rem calc(1rem + 10px);
			background: #fff100;
			span {      
				padding: 0 25px;
				display: inline-block;
			}
		}
		h3.subtitle:before {
			position: absolute;
			top: -8px;
			left: -8px;
			width: 100%;
			height: 100%;
			content: '';
			border: 4px solid #000;
		}
		.intro {
			width: 90%;
			margin: 0 auto 90px;
		}
		.rakuie__service {
			h3 {
				font-size: 3.6rem;
				font-weight: bold;
				letter-spacing: 0.1em;
				line-height: 1.4em;
				margin-bottom: 60px;
				padding-bottom: 20px;
				position: relative;
				text-align: center;
				&::after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background: #e45213;
					height: 3px;
					width: 100px;
				}
				
			}
			.inner-bottom {
				.text {
					p {
						.bigger {
							font-weight: bold;
						}
					}
				}
			}
			.inner {
				display: flex;
				@include mobile {
					display: block;
				}
				.promise {
					dl {
						width: 85%;
						margin-bottom: 40px;
						@include mobile {
							width: 100%;
						}
						dt {
							position: relative;
							overflow: hidden;
							padding: 1.5rem 2rem 1.5rem 130px;
							height: 50px;
							font-size: 2.3rem;
							font-weight: bold;
							color: #e45213;
							@include mobile {
								font-size: 1.6rem;
							}
							span {
								font-size: 40px;
								font-size: 4rem;
								position: absolute;
								z-index: 1;
								top: 0;
								left: 0;
								display: block;
								padding-top: 3px;
								padding-left: 16px;
								color: #fff;
							}
						}
						dt:before {
							position: absolute;
							top: -150%;
							left: -100px;
							width: 200px;
							height: 300%;
							content: '';
							-webkit-transform: rotate(25deg);
							transform: rotate(25deg);
							background: #e45213;
						}
						dd {
							font-size: 18px;
							line-height: 1.7;
						}
					}
				}
				// .promise-img {
				// 	width: 45%;
				// 	@include mobile {
				// 		width: 90%;
				// 	}
				// 	img {
				// 		width: 100%;
				// 	}
				// 	.block-img {
				// 		display: block;
				// 		margin-top: 30px;
				// 	}
				// }
			}
		}
		.merit {
			padding-top: 80px;
			&__intro {
				h3 {
					font-size: 3.6rem;
					font-weight: bold;
					letter-spacing: 0.1em;
					line-height: 1.4em;
					margin-bottom: 60px;
					padding-bottom: 20px;
					position: relative;
					text-align: center;
					&::after {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						background: #e45213;
						height: 3px;
						width: 100px;
					}
				}
			}
			.wrapItems {
				display: flex;
				flex-wrap: wrap;
				margin-top: 80px;
				&.is-inview dl {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
				dl {
					background-color: #fff;
					color: #333;
					text-decoration: none;
					display: block;
					box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
					padding: 40px 30px;
					text-align: center;
					position: relative;
					z-index: 1;
					opacity: 0;
					visibility: hidden;
					transform: translateY(20px);
					transition: 0.7s ease;
					dt {
						font-size: 2.4rem;
						font-weight: bold;
						color: #70c438;
						letter-spacing: 0.1em;
						padding-bottom: 20px;
						border-bottom: solid 1px #dedede;
						margin-bottom: 20px;
					}
					dd {
						p.ttl {
							line-height: 1.5;
							font-weight: 500;
							text-align: justify;
						}
					}
					&::before {
						width: 50px;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						background: #e45213;
						font-weight: bold;
						font-size: 2.4rem;
						color: #fff;
						position: absolute;
						top: -10px;
						left: -10px;
					}
					&:nth-child(1) {
						transition-delay: 0.3s;
						&::before {
							content: '1';
						}
					}
					&:nth-child(2) {
						transition-delay: 0.5s;
						&::before {
							content: '2';
						}
					}
					&:nth-child(3) {
						transition-delay: 0.7s;
						&::before {
							content: '3';
						}
					}
					&:nth-child(4) {
						transition-delay: 0.9s;
						&::before {
							content: '4';
						}
					}
				}
				.item {
					width: calc((100% - 40px) / 2);
					margin: 0 40px 40px 0;
					@include mobile {
						width: 100%;
						margin: 20px 0;
					}
				}
				.item:nth-child(2n) {
					margin-right: 0;
				}
			}
		}
		.tokuten {
			h3 {
				background: linear-gradient(transparent 50%, #ffff01 50%);
				font-size: 3.6rem;
				font-weight: bold;
				letter-spacing: 0.1em;
				margin: 0 auto;
				margin-bottom: 30px;
				padding-left: 20px;
				padding-right: 20px;
				position: relative;
				text-align: center;
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: fit-content;
			}
			.inner {
				.intro {
					width: 90%;
					margin: 60px auto 0;
				}
				.tokuten {
					display: flex;
					justify-content: space-between;
					@include mobile {
						display: block;
					}
					.item {
						width: 32%;
						border: 1px solid #ccc;
						@include mobile {
							width: 100%;
							margin: 20px 0;
						}
						.item-inner {
							width: 100%;
							figure {
								margin: 10px 0;
								img {
									width: 100%;
								}
							}
						}
					}
					.red {
						text-align: center;
						background-color: #e45213;
						color: #FFF;
						font-size: 16px;
						padding-bottom: 10px;
						padding-top: 10px;
					}
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
}