.service {
	p {
		font-size: 1.4rem;
		line-height: 1.7;
	}
	.service__top {
		height: 300px;
		position: relative;
		background-image: url(../img/service_bg.jpg);
    background-position-y: center;
    background-size: 100%;
    height: 300px;
    position: relative;
		h2 {
			color: #FFF;
			font-size: 3.8rem;
			font-weight: 900;
			z-index: 999;
			margin: 0;
			position: absolute;
			top: calc(50% - 1.9rem);
		}
	}
	.service__top::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    z-index: 99;
    background: rgba($color: #000000, $alpha: 0.4);
  }
	.container {
		width: 1120px;
		margin: 0 auto;
		h3.subtitle {
			margin-top: 60px;
			color: #000000;
			text-align: center;
			font-size: 32px;
			margin-bottom: 40px;
			position: relative;
			padding: 1rem 2rem calc(1rem + 10px);
			background: #fff100;
			span {      
				padding: 0 25px;
				display: inline-block;
			}
		}
		h3.subtitle:before {
			position: absolute;
			top: -8px;
			left: -8px;
			width: 100%;
			height: 100%;
			content: '';
			border: 4px solid #000;
		}
		.intro {
			width: 70%;
			margin-bottom: 60px;
		}
		.rakuie__service {
			display: flex;
			.promise {
				h3 {
					width: 85%;
					font-size: 3rem;
					position: relative;
					padding: 0 65px;
					margin-bottom: 30px;
					text-align: center;
					span {
						position: relative;
						padding: 0 1em;
						background: #fff;
					}
				}
				h3:before {
					position: absolute;
					top: calc(50% - 1px);
					left: 0;
					width: 100%;
					height: 2px;
					content: '';
					background: #000;
				}
				dl {
					width: 85%;
					margin-bottom: 40px;
					dt {
						position: relative;
						overflow: hidden;
						padding: 1.5rem 2rem 1.5rem 130px;
						border-top: 3px solid #e45213;
						height: 50px;
						font-size: 2.3rem;
						font-weight: bold;
						color: #e45213;
						span {
							font-size: 40px;
							font-size: 4rem;
							position: absolute;
							z-index: 1;
							top: 0;
							left: 0;
							display: block;
							padding-top: 3px;
							padding-left: 16px;
							color: #fff;
						}
					}
					dt:before {
						position: absolute;
						top: -150%;
						left: -100px;
						width: 200px;
						height: 300%;
						content: '';
						-webkit-transform: rotate(25deg);
						transform: rotate(25deg);
						background: #e45213;
					}
					dd {
						font-size: 1.4rem;
						line-height: 1.7;
					}
				}
			}
			.promise-img {
				width: 45%;
				img {
					width: 100%;
				}
				.block-img {
					display: block;
					margin-top: 30px;
				}
			}
		}
	}
}