.surpport {
    margin-top: 80px;
    .img-center {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .anshin-sup {
        padding-top: 120px;
        h2 {
            background: linear-gradient(transparent 50%, #ffff01 50%);
            font-size: 3.6rem;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin: 0 auto;
            margin-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            text-align: center;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }
        .list-wrap {
            display: flex;
            flex-wrap: wrap;
            width: 1080px;
            justify-content: space-between;
            @include mobile {
                display: block;
                width: 100%;
                .item {
                    margin-bottom: 40px;
                    padding: 0;
                    width: 100%;
                }
            }
            .item {
                background: #fff;
                width: 49%;
                text-align: justify;
                // box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
                padding: 30px;
                position: relative;
                h3 {
                    border-left: 4px solid #e45213;
                    font-size: 18px;
                    margin-bottom: 10px;
                    line-height: 24px;
                    padding-left: 10px;
                }
                ul {
                    padding-left: 30px;
                    li {
                        font-size: 1.6rem;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
}

.sp-none {
    @include mobile {
        display: none;
    }
}