*{
  box-sizing: border-box;
}

body{
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic","メイリオ", "Meiryo", "verdana", sans-serif;
  color:#333;
  font-size:16px;
  line-height:2;
  min-width:1140px;
}

a{
  text-decoration:none;
  display:inline-block;
}

a:hover{
  opacity:0.7;
}

li{
  list-style:none;
}

img{
  width:100%;
  vertical-align:bottom;
}

.sp-br{
  display:none;
}

.container{
  width:1140px;
  margin:0 auto;
  padding:50px 10px;
}

.sentence{
  max-width:800px;
  margin:0 auto;
}

#fascia,#voice,#suitable,#profile-thought,#select,#treatment{
  margin-top:-95px;
  padding-top:95px;
}

.sec-title{
  font-size:36px;
  text-align:center;
  color:#3D71B8;
  padding-bottom:20px;
  margin-bottom:50px;
  position:relative;
}

.sec-title,.pc-menu,.sp-menu{
  font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝", 'Noto Serif JP', serif;
}

.sec-title:before {
  position: absolute;
  bottom:0px;
  left: calc(50% - 200px);
  width: 400px;
  height:3px;
  content: '';
  background:red;
  opacity:0.8;
}

.red{
  color:red;
  font-weight:bold;
}

.yellow{
  color:yellow;
  font-weight:bold;
}

.marker-blue{
  background: linear-gradient(transparent 60%, blue 0%);
  padding-bottom:2px
}

.marker-yellow{
  background: linear-gradient(transparent 60%, yellow 0%);
  padding-bottom:2px
}

.size-big{
  font-size:20px;
  padding:10px 0;
  font-weight:bold;
}

.title-big{
  font-size:46px;
  padding:10px 0;
  font-weight:bold;
}

header{
  background:#fff;
  margin:0 auto;
  position:fixed;
  top:0%;
  left:0;
  right:0;
  box-shadow:0px 1px rgba(195,195,195,0.2);
  z-index:6;
}