.contact {
	box-sizing: border-box;
}

.contact li {
	list-style: none;
}

.contact .sp-br {
	display: none;
}

.contact .contact__content .contact__content__title {
	font-size: 3.2rem;
	font-weight: 700;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
}

.contact .contact__content .contact__content__title:after {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-image: -webkit-repeating-linear-gradient(135deg, #e45213, #e45213 1px, transparent 2px, transparent 5px);
	background-image: repeating-linear-gradient(-45deg, #e45213, #e45213 1px, transparent 2px, transparent 5px);
	background-size: 7px 7px;
	bottom: calc(50% - 7px);
	content: '';
	height: 10px;
	left: 0;
	position: absolute;
	width: 100%;
}

.contact .contact__content .contact__content__title span {
	background: #fff;
	padding: 0 25px;
	position: relative;
	z-index: 10;
}

.contact .contact__content .contact__content__sub-title {
	background: #E45213;
	border-left: solid 6px #ff8748;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 400;
	margin-bottom: 25px;
	padding: 13px 20px;
}

.contact .contact__content .contact__form {
	color: #333;
	line-height: 22.4px;
}

.contact .contact__content .contact__form th,
.contact .contact__content .contact__form td {
	padding: 12px;
	text-align: left;
}

.contact .contact__content .contact__form th {
	background: #70C438;
	border: 1px solid #70C438;
	border-bottom-color: #fff;
	border-right-color: #fff;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	width: 20%;
}

.contact .contact__content .contact__form th .contact__th__caution {
	color: #fff;
	font-size: 1.4rem;
}

.contact .contact__content .contact__form th .mandatory {
	color: #fff;
	position: relative;
}

.contact .contact__content .contact__form th .mandatory:after {
	background: #E45213;
	border-radius: 2px;
	bottom: 2px;
	color: #fff;
	content: "必須";
	font-size: 1.1rem;
	line-height: 1;
	padding: 2px;
	position: absolute;
	right: -30px;
}

.contact .contact__content .contact__form td {
	border: solid 1px #cdcdcd;
	border-radius: 2px;
	font-size: 1.4rem;
	width: 80%;
}

.contact .contact__content .contact__form td .contact__form__caution {
	color: #E45213;
}

.contact .contact__content .contact__form td .contact__form__caution:nth-child(n+2) {
	margin-top: 8px;
}

.contact .contact__content .contact__form td input[type="text"],
.contact .contact__content .contact__form td input[type="email"] {
	border: solid 1px #767676;
	color: #333;
	line-height: 19.6px;
	padding: 5px;
	width: 100%;
}

.contact .contact__content .contact__form td input[type="text"]:hover,
.contact .contact__content .contact__form td input[type="email"]:hover {
	border: solid 1px #000;
}

.contact .contact__content .contact__form td input[type="text"]:focus,
.contact .contact__content .contact__form td input[type="email"]:focus,
.contact .contact__content .contact__form td textarea:focus {
	border: solid 1px #000;
}

.contact .contact__content .contact__form td select {
	text-align: center;
}

.contact .contact__content .contact__form td .mwform-radio-field-text,
.contact .contact__content .contact__form td .mwform-checkbox-field-text {
	line-height: 22.4px;
	padding-right: 0;
}

.contact .contact__content .contact__form td label {
	border: dotted 1px #FFCE3C;
	border-radius: 3px;
	line-height: 22.4px;
	margin: 5px 10px 5px 0;
	padding: 8px 6px 6px;
}

.contact .contact__content .contact__form td label:hover {
	background: #FFCE3C;
}

.contact .contact__content .contact__form td label.selected {
	background: #FFCE3C;
}

.contact .contact__content .contact__form td input[type="radio"] + span::before {
	border: solid 1px #767676;
	border-radius: 50%;
	height: 13px;
	width: 13px;
}

.contact .contact__content .contact__form td input[type="radio"] + span:hover::after {
	background: #fff;
}

.contact .contact__content .contact__form td input[type="radio"]:checked + span::before {
	border: solid 1px #2C77F6;
}

.contact .contact__content .contact__form td input[type="radio"]:checked + span::after {
	background: #2C77F6;
	height: 9px;
	left: -4.5px;
	margin-top: -5px;
	width: 9px;
	z-index: 10;
}

.contact .contact__content .contact__form td input[type="radio"]:checked + .mwform-radio-field-text {
	color: #333;
}

.contact .contact__content .contact__form td input[type="checkbox"] + span::before {
	border: solid 1px #767676;
	border-radius: 3px;
	height: 13px;
	width: 13px;
}

.contact .contact__content .contact__form td input[type="radio"] + span:hover::before,
.contact .contact__content .contact__form td input[type="checkbox"] + span:hover::before {
	border-color: #333;
}

.contact .contact__content .contact__form td input[type="checkbox"] + span:hover::after {
	background: rgba(255, 255, 255, 0);
}

.contact .contact__content .contact__form td input[type="checkbox"]:checked + span::before {
	background: #2C77F6;
	border: solid 1px #2C77F6;
}

.contact .contact__content .contact__form td input[type="checkbox"]:checked + span::after {
	background: #2C77F6;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	content: "";
	height: 4px;
	left: -4.5px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	transform: rotate(-45deg);
	width: 7.5px;
}

.contact .contact__content .contact__form td input[type="checkbox"]:checked + .mwform-checkbox-field-text {
	color: #333;
}

.contact .contact__content .contact__form td .contact__form__visit {
	margin-bottom: 8px;
}

.contact .contact__content .contact__form td textarea {
	vertical-align: top;
}

.contact .contact__content .contact__form td .error {
	color: #B70000;
	display: block;
	font-size: 1.3rem;
}

.contact .contact__content .contact__form .confirm-btn {
	margin: 20px 0;
	text-align: center;
}

.contact .contact__content .contact__form .confirm-btn button[type="submit"] {
	align-items: center;
	background: #EB5E00;
	border: solid 1px #EB5E00;
	color: #fff;
	font-family: noto-sans-cjk-jp,sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	height: 60px;
	letter-spacing: 0.1rem;
	text-align: center;
	width: 290px;
}

@media screen and (max-width: 767px) {

.contact .sp-br {
	display: block;
}

.contact .contact__content .contact__content__title {
	display: none;
}

.contact .contact__content .contact__content__title span {
	display: none;
}

.contact .contact__content .contact__content__sub-title {
	font-size: 2rem;
}

.contact .contact__content .contact__form th {
	display: block;
	width: 100%;
}

.contact .contact__content .contact__form td {
	display: block;
	width: 100%;
}

.contact .contact__content .contact__form td .error {
	font-size: 1.2rem;
}

.contact .contact__content .contact__form .confirm-btn button[type="submit"] {
	height: 60px;
	width: 200px;
}

}

