.rakuie-ceo {
	background: #efefef;
	padding: 80px 30px;
}

.rakuie-ceo.is-inview .inner p,
.rakuie-ceo.is-inview .inner img {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.rakuie-ceo .inner {
	margin: 0 auto;
	text-align: center;
	width: 1060px;
}

.rakuie-ceo .inner p {
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 40px;
	opacity: 0;
	padding: 0 30px;
	position: relative;
	text-align: center;
	transform: translateY(20px);
	transition: 0.7s ease;
	transition-delay: 0.3s;
	visibility: hidden;
}

.rakuie-ceo .inner p::before,
.rakuie-ceo .inner p::after {
	background: #333;
	bottom: -10px;
	content: '';
	display: block;
	height: 60px;
	position: absolute;
	width: 3px;
}

.rakuie-ceo .inner p::before {
	left: 0;
	transform: rotate(-20deg);
}

.rakuie-ceo .inner p::after {
	right: 0;
	transform: rotate(20deg);
}

.rakuie-ceo .inner p.strong {
	color: red;
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif' !important;
	margin-bottom: 20px;
}

.rakuie-ceo .inner p.strong::before,
.rakuie-ceo .inner p.strong::after {
	display: none;
}

.rakuie-ceo .inner img {
	display: block;
	opacity: 0;
	transform: translateY(20px);
	transition: 0.7s ease;
	transition-delay: 0.5s;
	visibility: hidden;
	width: 100%;
}

@media screen and (max-width: 767px) {

.rakuie-ceo {
	padding: 10.66667vw 5.33333vw;
}

.rakuie-ceo .inner {
	min-width: auto;
	width: 100%;
}

.rakuie-ceo .inner p {
	font-size: 1.6rem;
	margin-bottom: 5.33333vw;
	padding: 0 5.33333vw;
}

.rakuie-ceo .inner p::before,
.rakuie-ceo .inner p::after {
	bottom: -1.33333vw;
	height: 8vw;
	width: 2px;
}

}

