.l-header {
	.header-top{
		width:1140px;
		padding:0 10px;
		height:65px;
		margin:0 auto;
		align-items:center;
		display:flex;
		justify-content: space-between;
		.header-top__left{
			.left__logo img{
				height:48px;
			}			
		}
		.header-top__right{
			display:flex;
			.right__tel{
				margin-right:50px;
				line-height:23px;
				.right__tel__btn{
					display:flex;
					.fa-phone-square-alt{
						font-size:50px;
						margin-right:10px;
						color:#36A3D5
					}
					.right__tel__time{
						font-weight:bold;
						font-size:12px;
						color:#333;
					}
					.right__tel__number{
						font-weight:bold;
						font-size:25px;
						color:#36A3D5;
					}
				}
			}
			.right__mail__btn{
				display:inline-block;
				margin-top:3px;
				padding:7px 15px;
				background:orange;
				color:#fff;
				font-size:16px;
				font-weight:bold;
				border-radius:4px;
				box-shadow:2px 2px rgba(195,195,195,0.2);
			}			
		}
	}
	.pc-menu{
		width:1140px;
		height:30px;
		margin:0 auto;
		align-items:center;
		.pc-menu__list{
			display:flex;
			.pc-menu__list__item{
				display:inline-block;
				width:calc(100% / 7);
				font-size:14px;
				text-align:center;
				border-left:solid 1px #c3c3c3;
				a{
					color:#3D71B8
				}
			}
			.pc-menu__list__item:last-child{
				border-right:solid 1px #c3c3c3;
			}
		}
	}
	.sp-menu,.sp-menu-btn{
		display:none;
	}
	@include mobile {
		.header-top{
			width:100%;
			padding:10px;
			height:60px;
			box-shadow:0px 1px rgba(195,195,195,0.2);			
			.header-top__right{
				display:none;
			}  
		}
	}
}