.baikyaku {
    .inner {
        .trouble {
            margin-top: 120px;
            p {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.8;
                text-align: center;
            }
            .trouble-inner {
                h2 {
                    text-align: center;
                    font-size: 32px;
                    margin-bottom: 50px;
                }
                .inner {
                    display: flex;
                    @include mobile {
                        display: block;
                        .left {
                            width: 100%;
                        }
                        .right {
                            width: 100%;
                            img {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    .left {
                        width: 60%;
                        padding-top: 40px;
                        text-align: center;
                        .yellow {
                            margin: 0 auto 10px;
                            width: fit-content;
                            background: linear-gradient(transparent 50%, #ffff01 50%);
                            font-size: 2rem;
                            @include mobile {
                                background: #ffff01;
                            }
                        }
                    }
                    .right {
                        width: 40%;
                        display: flex;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .arrow-down {
                background-color: blue;
                width: 50%;
                padding: 20px;
                margin: 60px auto 60px;
                @include mobile {
                    width: 100%;
                }
                p.bigger {
                    color: #FFF;
                    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif' !important;
                    font-size: 24px;
                    text-align: center;
                    font-weight: 900;
                    .under {
                        color: #FFF;
                        border-bottom: 1px solid #FFF;
                        font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif' !important;
                    }
                }
                .headline {
                    padding: 0 20px;
                    width: fit-content;
                    text-align: center;
                    border-radius: 24px;
                    background-color: white;
                    color: blue;
                    margin: 0 auto 20px;
                }
            }
            .fudousan {
                width: 1080px;
                p {
                    text-align: initial;
                    line-height: 2;
                    .yellow {
                        background-color: (transparent 50%, #ffff01 50%);
                    }
                }
                @include mobile {
                    width: 100%;
                }
            }
            .image {
                width: 60%;
                margin: 30px auto 120px;
                img {
                    width: 100%;
                }
                @include mobile {
                    width: 100%;
                }
            }
            .about-rakuie {
                padding-bottom: 60px;
                h3 {
                    font-size: 28px;
                    text-align: center;
                    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif' !important;
                    margin-bottom: 40px;
                    background: linear-gradient(transparent 50%, #ffff01 50%);
                    padding-left: 20px;
                    padding-right: 20px;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                }
                p {
                    text-align: initial;
                    line-height: 2;
                }
            }
        }
    }
}