@import '../../function/mixins';

.c-breadcrumbs {
  padding: 12px 0;
  ol {
    display:flex;
    font-size:1.3rem;
    list-style: none;

    a{
      color:#e45213;
    }
  }

  @include mobile {
    margin: vw(12) 0;
    ol {
      font-size: 1.2rem;
    }
  }
}