@import '../../function/mixins';

.c-breadcrumb {
  padding: 12px 0;
  width: 1120px;
  margin: 0 auto 60px;
  ul {
    display:flex;
    font-size:1.3rem;
    list-style: none;
    li {
      padding-left: 10px;
      a{
        padding-right: 10px;
        color:#e45213;
        text-decoration: none;
      }
      &::after {
        content: '>';
        padding: 0 0.2rem;
        color: #e45213;
      }
      &:last-child::after {
        content: '';
      }
    }
  }

  @include mobile {
    margin: vw(12) 0;
    ul {
      font-size: 1.2rem;
    }
  }
}