@import '../../function/mixins';

.container {
	width: 1120px;
	margin: 0 auto;
	padding: 0 30px;
	.suggestion {
		margin-bottom: 100px;
	}

	@include mobile {
		min-width: auto;
		width: 100%;
		padding: 0 vw(20);
	}
}
