.free-contact {
    .pc {
        width: 1060px;
        margin: 80px auto 120px;
        @media screen and (max-width:1080px) {
            width: 90%;
            img {
                width: 100%;
            }
        }
        img {
            width: 100%;
        }
    }
    .sp {
        display: none !important;
        @media screen and (max-width:425px) {
            display: block;
        }
    }
}

.covid_flow {
    width: fit-content;
    @media screen and (max-width:767px) {
        display: none!important;
    }
}

.covid_flow-sp {
    display: none;
    @media screen and (max-width:767px) {
        display: block;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}