@import '../../function/mixins';

#homebanner {
	position: fixed;
	z-index: 999;
	left: calc(50% - 300px);
	width: 600px;
	margin-bottom: 0;
	padding: 5px;
	bottom: 20px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	background-color: #FFF;
	border: 1px solid #eb5e00;
	.text_wide {
		position: relative;
		width: 100%;
		margin-bottom: 1px;
		padding: 5px 0 6px;
		line-height: 1.5;
		text-align: center;
		color: #FFF;
		font-size: 1.4rem;
		font-weight: 700;
		background: #eb5e00;
	}
	.img_wide {
		display: block;
		width: calc(50% - 0.5px);
		margin: 0;
	}
	.img_wide:nth-child(2) a {
		position: relative;
		display: flex;
		width: 100%;
		height: 50px;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		line-height: 1.3em;
		text-align: center;
		font-family: "NotoSansCJKjp-Bold";
		letter-spacing: 1px;
		background: rgb(255, 174, 0);
		z-index: 1;
		padding-bottom: 0.1em;
		span {
			display: inline-flex;
			align-items: center;
			height: 100%;
			padding-left: 40px;
			color: #fff;
			background: url('../img/icon_mail.svg') left center / 27px auto no-repeat;
		}
	}
	.img_wide:nth-child(3) a {
		position: relative;
		display: flex;
		width: 100%;
		height: 50px;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		line-height: 1.3em;
		text-align: center;
		font-family: "NotoSansCJKjp-Bold";
		letter-spacing: 1px;
		z-index: 1;
		padding-bottom: 0.1em;
		background-color: #06c755;
		span {
			display: inline-flex;
			align-items: center;
			height: 100%;
			padding-left: 50px;
			color: #fff;
			background: url('../img/icon_line.svg') left center / 40px auto no-repeat;
		}
	}
}
#homebanner.show {
	opacity: 1;
	visibility: visible;
}
.is-footer {
	#homebanner.show {
		opacity: 0;
		visibility: hidden;
	}	
}

@include mobile {
	#homebanner {
		left: 50%;
		width: 100%;
		padding: 3px;
		bottom: vw(-80);
		transform: translateX(-50%);
		.text_wide {
			padding: vw(2) 0 vw(3);
			font-size: 1.2rem;
		}
		.img_wide:nth-child(2) a {
			height: vw(50);
			font-size: 1.6rem;
			span {
				padding-left: vw(36);
				background: url('../img/icon_mail.svg') left center / vw(24) auto no-repeat;
			}
		}
		.img_wide:nth-child(3) a {
			height: vw(50);
			font-size: 1.6rem;
			span {
				padding-left: vw(44);
				background: url('../img/icon_line.svg') left center / vw(36) auto no-repeat;
			}
		}
	}
	#homebanner.show {
		bottom: 0;
	}
}