.lp-top {
	.lp-top__cp{
		width:100%;
		margin-top:95px;
	}
	.lp-top__sp{
	display:none;
	}
	@include mobile {
		.lp-top__cp{
			display:none;
		}
		.lp-top__sp{
			display:block;
			width:100%;
			margin-top:60px;
		}
	}
}