.thanks {
    p {
        font-size: 16px;
        line-height: 28px;
    }
    .text {
        width: 540px;
        margin: 126px auto 120px;
        h3 {
            text-align: center;
            line-height: 42px;
            font-size: 24px;
            margin-bottom: 60px;
        }
    }
}