.tokuten {
    width: 1120px;
    margin: 0 auto 0;
    padding-top: 80px;
    @include mobile {
        width: 100%;
    }
    h3 {
        background: linear-gradient(transparent 50%, #ffff01 50%);
        font-size: 3.6rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        margin: 0 auto;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        text-align: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .inner {
        .intro {
            width: 90%;
            margin: 60px auto 0;
            p {
                text-align: center;
                font-size: 16px;
                line-height: 1.7;
            }
        }
        .tokuten {
            display: flex;
            justify-content: space-between;
            @include mobile {
                display: block;
            }
            .item {
                width: 32%;
                border: 1px solid #ccc;
                @include mobile {
                    width: 80%;
                    margin: 20px auto;
                }
                .item-inner {
                    width: 100%;
                    figure {
                        margin: 10px 0;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .red {
                background-color: #e45213;
                color: #FFF;
                font-size: 16px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            p {
                font-size: 16px;
                line-height: 1.7;
            }
        }
    }
}