.top-onayami {
    width: 75%;
    margin: 0 auto;
    h3 {
        text-align: center;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 30px;
        @media screen and (max-width:767px) {
            font-size: 2rem;
            padding: 0 4vw;
            top: -7.2vw;
            line-height: 1.4;
        }
    }
    .inner {
        display: flex;
        justify-content: space-around;
        .image {
            width: 32%;
            img {
                width: 100%;
            }
        }
    }
    .orange {
        background-color: orange;
        color: #FFF;
        padding: 5px;
        font-size: 28px;
        text-align: center;
        width: fit-content;
        margin: 40px auto 60px;
    }
}

.top-covid {
    .pc {
        width: 1060px;
        margin: 0 auto;
        a {
            &:hover {
                opacity: 1 !important;
            }
            img {
                cursor: pointer;
                width: 100%;
            }
        }
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    .sp {
        display: none;
        @media screen and (max-width:767px) {
            cursor: pointer;
            display: block;
            width: 80%;
            margin: 0 auto;
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.muryo-satei {
    h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 15px;
        font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif' !important;
        @media screen and (max-width:767px) {
            font-size: 2rem;
            padding: 0 4vw;
            top: -7.2vw;
        }
    }
    p {
        text-align: center;
        font-size: 16px;
        .num {
            color: orange;
            font-weight: bold;
        }
    }
}