.want-wrap {
    .inner {
        .wrap {
            display: flex;
            flex-wrap: wrap;
            .item {
                padding: 39px 30px;
                margin: 0 20px 20px 0;
                box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
                width: calc((100% - 60px) / 3);
                p.title {
                    font-size: 18px;
                    color: #eb5e00;
                    font-weight: bold;
                    line-height: 1.4em;
                    padding-bottom: 14px;
                    border-bottom: solid 1px #dedede;
                    margin-bottom: 14px;
                    text-align: center;
                }
                h3 {
                    font-size: 16px;
                    font: 62.5% Meiryo, arial, clean, verdana, 'Hiragino Kaku Gothic Pro', "ＭＳ Ｐゴシック", Osaka, sans-serif;
                    text-align: center;
                    margin-bottom: 20px;
                }
                p {
                    font-family: initial;
                    text-align: left;
                    line-height: 1.9em;
                }
            }
        }
    }
}