.blogs-box {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	.top_blog {
		width: calc((100% - 40px) / 2);
		// border: 1px solid #dcdddd;
		padding: 30px;
		background-color: #fff;
		box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
		.ttl-Box {
			.ttl {
				padding-bottom: 5px;
				color: #333;
				font-size: 28px;
				font-weight: 700;
				line-height: 1.6em;
				letter-spacing: 2px;
				border-bottom: 3px solid #ccc;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 160px;
					height: 4px;
					background-color: #e45213;
					position: absolute;
					bottom: -2px;
					left: 0;
				}
			}
		}
		.scroll_box {
			box-sizing: border-box;
			overflow-y: scroll;
			transform: translateZ(0);
			height: 267px;
		}
	}
}