.contact{
  box-sizing:border-box;

  li{
  list-style:none;
  }

  .sp-br{
    display:none;
  }

  .contact__content{
    // padding:20px 0 30px;
    
    .contact__content__title{
      font-size:3.2rem;
      font-weight: 700;
      position:relative;
      text-align:center;
      margin-bottom:50px;

      &:after{
        position: absolute;
        bottom:calc(50% - 7px);
        left: 0;
        width: 100%;
        height: 10px;
        content: '';
        background-image: -webkit-repeating-linear-gradient(135deg, #e45213,#e45213 1px, transparent 2px, transparent 5px);
        background-image: repeating-linear-gradient(-45deg,#e45213,#e45213 1px, transparent 2px, transparent 5px);
        background-size: 7px 7px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      span{
        padding:0 25px;
        background:#fff;
        position:relative;
        z-index:10;
      }
    }

    .contact__content__sub-title{
      font-size:2.4rem;
      color:#fff;
      background:#E45213;
      border-left:solid 6px #ff8748;
      padding:13px 20px;
      margin-bottom:25px;
      font-weight:400;
    }

    .contact__form{
      color:#333;
      line-height:22.4px;

      th,td{
        padding:12px;
        text-align:left;
      }

      th{
        font-size:1.6rem;
        background:#70C438;
        color:#fff;
        font-weight:bold;
        width:20%;
        border:1px solid #70C438;
        border-right-color: #fff;
        border-bottom-color: #fff;

        .contact__th__caution{
          font-size:1.4rem;
          color:#fff;
        }

        .mandatory{
          color:#fff;
          position:relative;

          &:after{
            content:"必須";
            font-size:1.1rem;
            line-height:1;
            color:#fff;
            padding:2px;
            background:#E45213;
            position:absolute;
            right:-30px;
            bottom:2px;
            border-radius:2px;
          }
        }
      }

      td{
        width:80%;
        border:solid 1px #cdcdcd;
        border-radius:2px;
        font-size:1.4rem;

        .contact__form__caution{
          color:#E45213;
        }

        .contact__form__caution:nth-child(n+2){
          margin-top:8px;
        }

        input[type="text"],input[type="email"]{
          padding:5px;
          border:solid 1px #767676;
          width:100%;
          color:#333;
          line-height:19.6px;

          &:hover{
            border:solid 1px #000;
          }
        }

        input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
          border:solid 1px #000;
        }

        select{
          text-align:center;
        }

        .mwform-radio-field-text,
        .mwform-checkbox-field-text{
          padding-right:0;
          line-height:22.4px;
        }

        label{
          border:dotted 1px #FFCE3C;
          border-radius:3px;
          padding:8px 6px 6px;
          margin:5px 10px 5px 0;
          line-height:22.4px;
        }

        label:hover{
          background:#FFCE3C;
        }

        label.selected{
          background:#FFCE3C;
        }


        input[type="radio"] + span::before{
          width:13px;
          height:13px;
          border:solid 1px #767676;
          border-radius:50%;
        }

        input[type="radio"] + span:hover::after{
          background:#fff;
        }

        input[type="radio"]:checked + span::before{
          border:solid 1px #2C77F6;
        }
        
        input[type="radio"]:checked + span::after{
          background:#2C77F6;
          width:9px;
          height:9px;
          left:-4.5px;
          margin-top:-5px;
          z-index:10;
        }
 
        input[type="radio"]:checked +  .mwform-radio-field-text{
          color:#333;
        }


        input[type="checkbox"] + span::before{
          width:13px;
          height:13px;
          border:solid 1px #767676;
          border-radius:3px;
        }
        input[type="radio"] + span:hover::before,
        input[type="checkbox"] + span:hover::before{
         border-color:#333;
        }

        input[type="checkbox"] + span:hover::after{
          background:rgba(255,255,255,0);
        }

        input[type="checkbox"]:checked + span::before{
          border:solid 1px #2C77F6;
          background:#2C77F6;
        }
        
        input[type="checkbox"]:checked + span::after{
          content: "";
          position: absolute;
          width:7.5px;
          height:4px;
          margin-top: -5px;
          top: 50%;
          left:-4.5px;
          transform: rotate(-45deg);
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
          background:#2C77F6
          
        }

        input[type="checkbox"]:checked +  .mwform-checkbox-field-text{
          color:#333;
        }

        .contact__form__visit{
          margin-bottom:8px;
        }

        textarea{
          vertical-align:top;
        }
      
        .error{
          font-size:1.3rem;
          color:#B70000;
          display:block;
        }  
      }

      .confirm-btn{
        margin:20px 0;
        text-align:center;
      
        input[type="submit"]{
        font-size:1.8rem;
        letter-spacing:0.1rem;
        color:#fff;
        background:#EB5E00;
        font-family:noto-sans-cjk-jp,sans-serif;
        font-weight:600;
        text-align:center;
        align-items:center;
        border:solid 1px #EB5E00;
        width:290px;
        height:60px;
        }
      }
    }
  }
}



@media screen and (max-width: 767px) {
  .contact{
    .sp-br{
      display:block;
    }

    .contact__content{
      .contact__content__title{
       display:none;
       
        span{
         display:none;
        }
      }

      .contact__content__sub-title{
        font-size:2rem;
      }

      .contact__form{
        th{
          display:block;
          width:100%;
        }

        td{
          display:block;
          width:100%;
         
          .error{
            font-size:1.2rem;
          } 
        }

        .confirm-btn{
       
          input[type="submit"]{
            width:200px;
            height:60px;
          }
        }

    
      }
    }
  }
}

.mw_wp_form_complete {
  p {
    font-size: 18px;
    text-align: center;
  }
}
