@import '../../function/mixins';

.rakuie-ceo {
	padding: 80px 30px;
	background: #efefef;
	&.is-inview .inner p,
	&.is-inview .inner img {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	.inner {
		width: 1060px;
		margin: 0 auto;
		text-align: center;
		p {
			display: inline-block;
			margin-bottom: 40px;
			padding: 0 30px;
			font-size: 28px;
			font-weight: bold;
			line-height: 1.5em;
			text-align: center;
			position: relative;
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: 0.7s ease;
			transition-delay: 0.3s;
			&::before,
			&::after {
				content: '';
				display: block;
				width: 3px;
				height: 60px;
				background: #333;
				position: absolute;
				bottom: -10px;
			}
			&::before {
				left: 0;
				transform: rotate(-20deg);
			}
			&::after {
				right: 0;
				transform: rotate(20deg);
			}
		}
		p.strong {
			color: red;
			margin-bottom: 20px;
			font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif' !important;
			&::before,
			&::after {
				display: none;
			}
		}
		img {
			display: block;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: 0.7s ease;
			transition-delay: 0.5s;
		}
	}

	@include mobile {
		padding: vw(40) vw(20);
		.inner {
			min-width: auto;
			width: 100%;
			p {
				margin-bottom: vw(20);
				padding: 0 vw(20);
				font-size: 1.6rem;
				&::before,
				&::after {
					width: 2px;
					height: vw(30);
					bottom: vw(-5);
				}
			}
		}
	}
}