.rakuie-baikyaku {
	margin: 80px 0;
	h2 {
		font-size: 3.6rem;
		line-height: 1.4em;
		letter-spacing: 0.1em;
		text-align: center;
		font-weight: bold;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 60px;
		&::after {
			content: '';
			display: block;
			width: 80px;
			height: 4px;
			background: #e45213;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	ol {
		list-style: none;
		li {
			width: 100%;
			background: #fff;
			box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
			position: relative;
			& + li {
				margin-top: 40px;
				&::before {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 20px 0 20px;
					border-color: #e45213 transparent transparent transparent;
					position: absolute;
					top: -15px;
					left: 50%;
					transform: translateX(-50%) translateY(-100%);
				}
			}
			span {
				font-size: 1.3rem;
				color: #fff;
				font-weight: bold;
				text-align: center;
				width: 72px;
				height: 72px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background: #e45213;
				font-weight: bold;
				color: #fff;
				position: absolute;
				top: -10px;
				left: -10px;
				em {
					display: block;
					color: #fff;
					font-size: 2.4rem;
					font-style: normal;
					margin-top: 5px;
				}
			}
			dl {
				position: relative;
				padding: 30px;
				dt {
					font-weight: bold;
					text-align: center;
					font-size: 2.4rem;
					color: #70c438;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid #dedede;
					letter-spacing: 0.06em;
				}
				dd {
					font-size: 1.6rem;
					line-height: 1.4em;
					text-align: center;
				}
			}
		}
	}
}